---
import background from '../assets/background.svg';
---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
		<section id="questions">
			<h1>Family Occasion Bingo Card generator</h1>
			<p>We all know the family can get into some interesting topics during family gatherings or be very insensitive. </p>
			<p>Lets have some fun while enduring it.</p>
			<p>Best play this with another one from your family that you trust ;)</p>
			<p>Just copy the link and send it to them!</p>
			<form id="questions_form" action="/bingo">
			<label for="occasion_type">Type of occasion</label>
			<select id="occasion_type" name="occasion_type">
  				<option value="christmas">Christmas</option>
  				<option value="birthday">Birthday</option>
  				<option value="easter">Easter</option>
  				<option value="summer_vacation">Summer Vacation</option>
				<option value="Thanksgiving">Thanksgiving</option>
			</select>
				<input id="submit" type="submit" />
			</form>

		</section>
	</main>
</div>
<script>
	function processForm(e) {
    	if (e.preventDefault) e.preventDefault();

		const occasion = document.getElementById("occasion_type")
		if(!occasion){
        	alert('No occasion provided.');
        	return false;
    	}
		const params = new URLSearchParams()
		params.append("occasion", occasion.value)
		window.location.href = "bingo" + "?" + params.toString()

    	return false;
	}

	const form = document.getElementById('questions_form');
	if (form.attachEvent) {
    	form.attachEvent("submit", processForm);
	} else {
    	form.addEventListener("submit", processForm);
}

</script>
<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#questions_form {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
	}

	#questions {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
		padding: 16px;
	}

	#submit {
		margin-top: 1em;
	}

	label {
		margin-top: 1em;
		margin-bottom: 0.5em;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 18px;
		letter-spacing: -0.006em;
		margin: 0;
	}


	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}

		#news {
			right: 16px;
			left: 16px;
			bottom: 2.5rem;
			max-width: 100%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
